<div id='count_<%= counter.id %>' class='row'>
	<span><%= counter.name %>, <%= counter.count %></span>
	<%= link_to '+1', increment_path(counter), method: :post, remote: true, class: 'btn btn-default' %>
	<%= link_to 'Delete', counter_path(counter), method: :delete, remote: true, class: 'btn btn-default' %>
</div>
